<div class="rear_mode_overlay"> <!-- EDIT - REAR_MODE start -->
	<%= link_to "", company_path(@previous_company_id, :selected_related => @previous_selected_related), :class => 'close' %>

  <div class="edit_mode"> <!-- EDIT start --> <!-- the external content is loaded inside this tag --> 
    <ul class="css-tabs"> <!-- TABS start -->
      <li><a href="#" class="ico_edit"></a></li>
      <li><a href="#" class="ico_option"></a></li>
      <li><a href="#" class="ico_delete"></a></li>
    </ul> <!-- TABS end -->
    <div class="css-panes"> <!-- PANES start -->

      <div><!-- TAB 1 start -->
      <%= form_for(@employment, :html => {:id => 'myform3', :name => 'myform3' , :class => 'myform', :multipart => true }) do |f| %>
        
        <div class="header">
          <h3>modifica</h3>
        </div>

        <div class="section">
          <label for="ruolo"> Ruolo: <%= f.text_field :summary,:value => "#{@employment.summary}" %> </label>             
        </div>

        <div class="footer">
			<%= f.submit "Esegui"%>
        </div>

      <% end %>
      </div><!-- TAB 1 end -->


      
      <div> <!-- TAB 2 start -->
        <form id='myform3' name='myform3' class='myform'>
          <div class="header">
            <h3>settaggi</h3>
          </div>

          <div class="section">
            <label> Preferito Home </label>
            <div class="checkbox_on_off">
              <input id="preferito_home" name="1" type="checkbox" value="1" checked="checked"/>
              <label for="preferito_home">Check-me</label>
            </div>
            <label> Storico </label>
            <div class="checkbox_attuale_archivio">
              <input id="storico" name="1" type="checkbox" value="1" />
              <label for="storico">Check-me</label>
            </div>
          </div>

          <div class="footer">
            <button type="submit">Esegui</button>
          </div>

        </form>
      </div>
      
      <div> <!-- TAB 3 start -->
	  	<%= form_for( @employment,:url=>{:action => 'destroy', :id => @employment.id},
	                  :html => {:id => 'my_form_destroy', :name => 'my_form_destroy' , :class => 'myform'}
					) do |f| %>
          <div class="header">
            <h3>elimina relazione</h3>
          </div>

          <div class="section">
            <p>Elimina l’oggetto employment dal database. Non è eliminata la persona.</p>
            <label> Eliminare? </label>

			<%#= link_to 'elimina', person_path(@employment_id, :selected_related => session[:selected_related]), confirm: 'Sei sicuro?', method: :delete %>
          </div>

          <div class="footer">
			<%#= f.submit "Esegui"%>
          </div>

      	<% end %>
      </div> <!-- TAB 3 end -->

    </div> <!-- PANES end -->
  </div> <!-- EDIT end -->
</div> <!-- REAR_MODE end -->